html{
    font-family: sans-serif;
}
#keyInput{
    border-bottom: 1px solid black;
    padding: 1em 0;
}
#dateInput{
    padding: 1em 0;
}
#dataVisualization{
    display: flex;
    padding: 1em 0;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#app{
    max-width: 1200px;
    margin: 0 auto;
}
#tables{
    flex: 40%;
    margin-right: 1em;
}
#map{
    flex: 60%;
    min-height: 500px;
}
.full-width{
    width: 100%;
}
.error-message{
    color: red;
}
.pointer{
    cursor: pointer;
}
tr.active{
    background: #9aaef6 !important;
}
tr.pointer:hover{
    background: rgba(121, 121, 255, 0.363);
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
td, th{
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
tr:nth-child(even){
    background: #eee;
}